@{
    ViewBag.Title = "Confirmation of forgotten password";
}

<div class="col-md-12 py-5 my-5 display-4">
    <p class="">
        Check your email address to reset your password <i class="fas fa-envelope-open pl-2"></i>
    </p>
</div>