@{
    ViewBag.Title = "Réinitialiser la confirmation du mot de passe";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div class="col-md-12 py-5 my-3 display-4">
    <p>
        <i class="fas fa-check text-success mr-2"></i>   Your password has been reset. Please @Html.ActionLink("click here to login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink btn btn-link" })
    </p>
</div>
