
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_administrationLayout.cshtml";
}


<div class="p-1 m-0 bg-light">
    <ol class="breadcrumb mb-4 bg-dark">
        <li class="breadcrumb-item text-light font-weight-bold"><i class="fas fa-tachometer-alt px-2"></i>Dashboard</li>
    </ol>
    <div class="row p-0 m-0">
        <div class="col-xl-3 col-md-6 text-dark rounded">
            <div class="card bg-light text-white mb-4">
                <div class="card-header text-dark py-0 lead px-1 ">Tolal Client</div>
                <div class="card-body">
                    <span class="display-4 text-dark font-weight-bold px-3 d-flex justify-content-center align-items-center">
                        @Session["CountUsers"].ToString()<i class="fas fa-users pl-2" style="font-size:2rem !important"></i>
                    </span>
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-dark stretched-link" href="#">View Details</a>
                    <div class="small text-dark"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 text-dark rounded">
            <div class="card bg-light text-white mb-4">
                <div class="card-header py-0 text-light lead px-1 bg-dark">Tolal Reservation</div>
                <div class="card-body">
                    <span class="display-4 text-dark font-weight-bold px-3 d-flex justify-content-center align-items-center">
                        @Session["CountResr"]<i class="fas fa-users pl-2" style="font-size:2rem !important"></i>
                    </span>
                </div>
                <div class="card-footer d-flex bg-dark align-items-center justify-content-between">
                    <a class="small text-light stretched-link" href="#">View Details</a>
                    <div class="small text-light"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 text-dark rounded">
            <div class="card bg-light text-white mb-4">
                <div class="card-header py-0 text-dark lead px-1">Tolal Rooms</div>
                <div class="card-body">
                    <span class="display-4 text-dark font-weight-bold px-3 d-flex justify-content-center align-items-center">
                        @Session["CountRooms"].ToString() <i class="fas fa-person-booth pl-2" style="font-size:2rem !important"></i>
                    </span>
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-dark stretched-link" href="#">View Details</a>
                    <div class="small text-dark"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 text-dark rounded">
            <div class="card bg-light text-white mb-4">
                <div class="card-header bg-dark py-0 text-light bg-da lead px-1">Tolal Rooms Available</div>
                <div class="card-body">
                    <span class="display-4 text-dark font-weight-bold px-3 d-flex justify-content-center align-items-center">
                        @Session["CountRoomReserved"].ToString()<i class="fas fa-users pl-2" style="font-size:2rem !important"></i>
                    </span>
                </div>
                <div class="card-footer d-flex bg-dark align-items-center justify-content-between">
                    <a class="small text-light stretched-link" href="#">View Details</a>
                    <div class="small text-light"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row m-0 p-0">
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header"><i class="fas fa-chart-area mr-1"></i>Area Chart Example</div>
            <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header"><i class="fas fa-chart-bar mr-1"></i>Bar Chart Example</div>
            <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
        </div>
    </div>
</div>
