
@{
    ViewBag.Title = "Tables";
    Layout = "~/Views/Shared/_administrationLayout.cshtml";
}
<div class="card mb-4">
    <div style="font-size:1.3rem;vertical-align:middle" class="card-header font-weight-bold d-flex justify-content-between align-items-center">

        <span>Table User</span>
        <a class=" btn btn-primary ml-auto" href='@Url.Action("Index","Tables")'><i class="fas fa-sync-alt"></i></a>

    </div>
    <div class="card-body">
        <div class="pl-1 py-1 pr-2 overflow-auto">
            @Html.Partial("~/Views/Tables/TableUser.cshtml", ViewBag.listUsers as IEnumerable<PFM.Models.ApplicationUser>)
           
        </div>
    </div>
</div>

<div class="card mb-4">
    <div style="font-size:1.3rem;vertical-align:middle" class="card-header font-weight-bold d-flex justify-content-between align-items-center">

        <span>Table Room</span>
        <a class=" btn btn-primary ml-auto" href='@Url.Action("Index","Tables")'><i class="fas fa-sync-alt"></i></a>

    </div>
    <div class="card-body">
        <div class="pl-1 py-1 pr-2 overflow-auto">
           
            @Html.Partial("~/Views/Tables/TableRooms.cshtml", ViewBag.listRooms as IEnumerable<PFM.Models.ModelsReservation.Room>)
        </div>
    </div>
</div>


