@model IEnumerable<PFM.Models.ModelsReservation.Room>

@{
    ViewBag.Title = "Index";
    Layout = Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mt-4" style="height:50px" ></div>
    <div class="container mb-2">

        <h1>Rooms</h1>


        <div class="row">


            @foreach (var item in Model)
            {


                <div class="card col-md m-1">
                    <img class="card-img-top img-fluid" src="https://source.unsplash.com/random/300x200" alt="">
                    <div class="card-body ">
                        <h4>@Html.DisplayFor(modelItem => item.NbChambres) Restant</h4>
                        <h2>@Html.DisplayFor(modelItem => item.Titre)</h2>
                        <p>@Html.DisplayFor(modelItem => item.ShortDescription)</p>
                        <div class="bg-light mt-2"> @Html.ActionLink("Details", "Details", new { id = item.ChambreId })</div>
                        <div class="d-flex justify-content-end">
                            <a class="btn btn-info text-light btn-lg">Reserver</a>
                        </div>
                    </div>

                </div>


            }
        </div>

    </div>