@model PFM.Models.ModelsReservation.RoomImage

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_administrationLayout.cshtml";

}

<style>
    .dynamicImg{
       height:250px;
       margin:10px;
    }
</style>
<h2>Create</h2>

@using (Html.BeginForm("Create", "RoomImages",FormMethod.Post, new { enctype = "multipart/form-data"}) )
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal container">
        <h4>Room Images</h4>
        <hr />





        <div class="row mb-3">

            <div class="col-md-10 ">
                <input type="file" class="form-control-file" name="files" onchange="loadFiler(event)" id="fileImages" multiple />
            </div>

        </div>

        <div class="row ">
            <div class="form-group">
                <div id="DynamicImageList" class="d-flex">
                    
                   

                </div>
            </div>
        </div>
      
        
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


<script>

    var loadFiler = function (event) {
        var files = event.target.files;
        for (var i = 0; i < files.length; i++) {
            $('#DynamicImageList').append("  <img src='" + URL.createObjectURL(event.target.files[i]) + "' class='dynamicImg'/>");
        }
    }
</script>