
@{
    ViewBag.Title = "Reservation Completed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ViewBag.Title</h2>

<div class="my-5 mx-5 p-3" style="height:max-content;">
    <span class="display-4 mb-4 text-justify">  Thank you for Reserving at AK Hotel <i class="fas fa-hotel text-center"></i> </span>
    <br /><br /><br />
                <div class="mt-4 ">
                    <p class="display-4  text-justify" style="font-size:2rem">
                        We will contact you for confirmation as soon as possible !
                        Have a good day!
                    </p> <a class="btn-link" href="@Url.Action("RoomListUser","Rooms")">Return to Rooms and suites</a>

                </div>
</div>

