
@{
    ViewBag.Title = "Reservation Completed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reservation Completed</h2>

<p style="height:400px">
    Reservation Completed ,We will contact you for confirmation as soon as possible !
    Have a good day!
</p>

