@{
    ViewBag.Title = "About";
}
    <link href="~/Content/style.css" rel="stylesheet" />

    <section class="about-div d-flex justify-content-center align-items-center py-5 px-0 col-lg-12">
        <div class="col-lg-8 d-flex justify-content-center align-items-center py-5  ">
            <div class="text-center text-white ">
                <h1 class="display-3">A<span id="s_nav">bout </span> U<span id="s_nav">s</span> </h1>
                <p>
                    The reception of the AK Hotel, the restaurant and the gym open 24 hours a day. Guests can also take advantage of a convenience store, coffee served in the lobby, meeting rooms, laundry and dry cleaning services, and bicycle rental.
                </p>
                <p>
                    The AK Hotel has a heated swimming pool and a rooftop hot tub with panoramic views of the city and the mountains. You can also unwind in the AK's spa, which includes 9 luxurious treatment rooms.
                </p>
                <p>
                    All rooms are decorated in rich colors and fully soundproofed. They include flat-screen TVs and iPod docking stations, safes, desks, mini-fridges, coffeemakers, and luxurious marble bathrooms with hairdryers.
                </p>
                <p>
                    Guests can swim in the indoor Roman-style pool, relax in the jacuzzi or enjoy the gym.
                </p>
                <p>
                    There are 6 restaurants and bars to choose from, serving national and international dishes. The restaurants specialize in local cuisine based on organic ingredients.
                </p>
                <p>
                    The hotel is also perfect for families with children as it is possible to add extra beds in most of the rooms. The most demanding customers can further improve their stay by choosing the hotel's luxurious suites.
                </p>
                <p>
                    The AK has easy access to the business, financial, legal, cultural and fashion districts of Los Angeles. It is located less than 3 km from Disney Concert Hall and 2 km from Dodger Stadium.
                </p>
                <p>
                    Everything has been thought of to make you spend an exceptional holiday. Our team will warmly welcome you and will be at your disposal throughout your stay in our hotel.
                </p>
            </div>
        </div>
    </section>