@{
    ViewBag.title = "Gallery";
}
<link href="~/Content/simple-lightbox.css" rel="stylesheet" />
<style>
    .images {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
        border: solid 3px white !important;
    }

    .couche {
        cursor: pointer;
    }
</style>
<section class="d-flex flex-column gallery p-0 mt-5 bg-dark">
    <div class="col-lg-12 row d-flex p-0   m-0" style="height:50vh !important;">
        <a href="../../pic/AKHotel/ak.jpg" class="col-lg-4 h-100 p-0 m-0  images" style="background-image:url(../../pic/AKHotel/ak.jpg)">
            <div style="position:relative ;width:100%;height:100%;background-color:antiquewhite;opacity:.5;z-index:1;display:flex;justify-content:center;align-items:center" class="couche">
                <i style="opacity:1 !important;z-index:2;position:absolute;" class="fa fa-2x fa-search"></i>
            </div>
        </a>
        <a href="../../pic/AKHotel/piscine.jpg" class="col-lg-4 h-100 p-0 m-0  images" style="background-image:url(../../pic/AKHotel/piscine.jpg)">
            <div style="position:relative ;width:100%;height:100%;background-color:antiquewhite;opacity:.5;z-index:1;display:flex;justify-content:center;align-items:center" class="couche">
                <i style="opacity:1 !important;z-index:2;position:absolute;" class="fa fa-2x fa-search"></i>
            </div>
        </a>

        <a href="../../pic/AKHotel/room3.jpg" class="col-lg-4 h-100 p-0 m-0  images" style="background-image:url(../../pic/AKHotel/room3.jpg)">
            <div style="position:relative ;width:100%;height:100%;background-color:antiquewhite;opacity:.5;z-index:1;display:flex;justify-content:center;align-items:center" class="couche">
                <i style="opacity:1 !important;z-index:2;position:absolute;" class="fa fa-2x fa-search"></i>
            </div>
        </a>
    </div>

    <div class="col-lg-12 row d-flex p-0  m-0" style="height:50vh !important;">
       <a href="../../pic/AKHotel/spa.jpg" class="col-lg-4 h-100 p-0 m-0  images" style="background-image:url(../../pic/AKHotel/spa.jpg)">
            <div style="position:relative ;width:100%;height:100%;background-color:antiquewhite;opacity:.5;z-index:1;display:flex;justify-content:center;align-items:center" class="couche">
                <i style="opacity:1 !important;z-index:2;position:absolute;" class="fa fa-2x fa-search"></i>
            </div>
        </a>

        <a href="../../pic/AKHotel/vue2.jpg" class="col-lg-4 h-100 p-0 m-0  images" style="background-image:url(../../pic/AKHotel/vue2.jpg)">
            <div style="position:relative ;width:100%;height:100%;background-color:antiquewhite;opacity:.5;z-index:1;display:flex;justify-content:center;align-items:center" class="couche">
                <i style="opacity:1 !important;z-index:2;position:absolute;" class="fa fa-2x fa-search"></i>
            </div>
        </a>

        <a href="../../pic/AKHotel/eat7.jpg" class="col-lg-4 h-100 p-0 m-0  images" style="background-image:url(../../pic/AKHotel/eat7.jpg)">
            <div style="position:relative ;width:100%;height:100%;background-color:antiquewhite;opacity:.5;z-index:1;display:flex;justify-content:center;align-items:center" class="couche">
                <i style="opacity:1 !important;z-index:2;position:absolute;" class="fa fa-2x fa-search"></i>
            </div>
        </a>
    </div>


    <div class="col-lg-12 row d-flex p-0  m-0" style="height:50vh !important;">
        <a  href="../../pic/AKHotel/room2.jpg" class="col-lg-4 h-100 p-0 m-0  images" style="background-image:url(../../pic/AKHotel/room2.jpg)">
            <div style="position:relative ;width:100%;height:100%;background-color:antiquewhite;opacity:.5;z-index:1;display:flex;justify-content:center;align-items:center" class="couche">
                <i style="opacity:1 !important;z-index:2;position:absolute;" class="fa fa-2x fa-search"></i>
            </div>
        </a>

        <a  href="../../pic/AKHotel/eat4.jpg" class="col-lg-4 h-100 p-0 m-0  images" style="background-image:url(../../pic/AKHotel/eat4.jpg)">
            <div style="position:relative ;width:100%;height:100%;background-color:antiquewhite;opacity:.5;z-index:1;display:flex;justify-content:center;align-items:center" class="couche">
                <i style="opacity:1 !important;z-index:2;position:absolute;" class="fa fa-2x fa-search"></i>
            </div>
        </a>

        <a href="../../pic/AKHotel/sport.jpg" class="col-lg-4 h-100 p-0 m-0  images" style="background-image:url(../../pic/AKHotel/sport.jpg)">
            <div style="position:relative ;width:100%;height:100%;background-color:antiquewhite;opacity:.5;z-index:1;display:flex;justify-content:center;align-items:center" class="couche">
                <i style="opacity:1 !important;z-index:2;position:absolute;" class="fa fa-2x fa-search"></i>
            </div>
        </a>
    </div>


    <div class="col-lg-12 row d-flex p-0  m-0" style="height:50vh !important;">
        <a href="../../pic/AKHotel/vetement.jpg" class="col-lg-4 h-100 p-0 m-0  images" style="background-image:url(../../pic/AKHotel/vetement.jpg)">
            <div style="position:relative ;width:100%;height:100%;background-color:antiquewhite;opacity:.5;z-index:1;display:flex;justify-content:center;align-items:center" class="couche">
                <i style="opacity:1 !important;z-index:2;position:absolute;" class="fa fa-2x fa-search"></i>
            </div>
        </a>

        <a href="../../pic/AKHotel/wc.jpg" class="col-lg-4 h-100 p-0 m-0  images" style="background-image:url(../../pic/AKHotel/wc.jpg)">
            <div style="position:relative ;width:100%;height:100%;background-color:antiquewhite;opacity:.5;z-index:1;display:flex;justify-content:center;align-items:center" class="couche">
                <i style="opacity:1 !important;z-index:2;position:absolute;" class="fa fa-2x fa-search"></i>
            </div>
        </a>

        <a href="../../pic/AKHotel/bar2.jpg" class="col-lg-4 h-100 p-0 m-0  images" style="background-image:url(../../pic/AKHotel/bar2.jpg)">
            <div style="position:relative ;width:100%;height:100%;background-color:antiquewhite;opacity:.5;z-index:1;display:flex;justify-content:center;align-items:center" class="couche">
                <i style="opacity:1 !important;z-index:2;position:absolute;" class="fa fa-2x fa-search"></i>
            </div>
        </a>
    </div>


    <div  class="col-lg-12 row d-flex p-0  m-0" style="height:50vh !important;">
        <a href="../../pic/AKHotel/eat.jpg" class="col-lg-4 h-100 p-0 m-0  images" style="background-image:url(../../pic/AKHotel/eat.jpg)">
            <div style="position:relative ;width:100%;height:100%;background-color:antiquewhite;opacity:.5;z-index:1;display:flex;justify-content:center;align-items:center" class="couche">
                <i style="opacity:1 !important;z-index:2;position:absolute;" class="fa fa-2x fa-search"></i>
            </div>
        </a>

        <a href="../../pic/AKHotel/dressing.jpg" class="col-lg-4 h-100 p-0 m-0  images" style="background-image:url(../../pic/AKHotel/dressing.jpg)">
            <div style="position:relative ;width:100%;height:100%;background-color:antiquewhite;opacity:.5;z-index:1;display:flex;justify-content:center;align-items:center" class="couche">
                <i style="opacity:1 !important;z-index:2;position:absolute;" class="fa fa-2x fa-search"></i>
            </div>
        </a>

        <a href="../../pic/AKHotel/4.jpg" class="col-lg-4 h-100 p-0 m-0  images" style="background-image:url(../../pic/AKHotel/4.jpg)">
            <div style="position:relative ;width:100%;height:100%;background-color:antiquewhite;opacity:.5;z-index:1;display:flex;justify-content:center;align-items:center" class="couche">
                <i style="opacity:1 !important;z-index:2;position:absolute;" class="fa fa-2x fa-search"></i>
            </div>
        </a>
    </div>


    <div  class="col-lg-12 row d-flex p-0  m-0" style="height:50vh !important;">
        <a href="../../pic/AKHotel/3.jpg" class="col-lg-4 h-100 p-0 m-0  images" style="background-image:url(../../pic/AKHotel/3.jpg)">
            <div style="position:relative ;width:100%;height:100%;background-color:antiquewhite;opacity:.5;z-index:1;display:flex;justify-content:center;align-items:center" class="couche">
                <i style="opacity:1 !important;z-index:2;position:absolute;" class="fa fa-2x fa-search"></i>
            </div>
        </a>

        <a href="../../pic/AKHotel/altere.jpg" class="col-lg-4 h-100 p-0 m-0  images" style="background-image:url(../../pic/AKHotel/altere.jpg)">
            <div style="position:relative ;width:100%;height:100%;background-color:antiquewhite;opacity:.5;z-index:1;display:flex;justify-content:center;align-items:center" class="couche">
                <i style="opacity:1 !important;z-index:2;position:absolute;" class="fa fa-2x fa-search"></i>
            </div>
        </a>

        <a href="../../pic/AKHotel/ak2.jpg" class="col-lg-4 h-100 p-0 m-0  images" style="background-image:url(../../pic/AKHotel/ak2.jpg)">
            <div style="position:relative ;width:100%;height:100%;background-color:antiquewhite;opacity:.5;z-index:1;display:flex;justify-content:center;align-items:center" class="couche">
                <i style="opacity:1 !important;z-index:2;position:absolute;" class="fa fa-2x fa-search"></i>
            </div>
        </a>
    </div>


    <div  class="col-lg-12 row d-flex p-0  m-0" style="height:50vh !important;">
        <a href="../../pic/AKHotel/room4.jpg" class="col-lg-4 h-100 p-0 m-0  images" style="background-image:url(../../pic/AKHotel/room4.jpg)">
            <div style="position:relative ;width:100%;height:100%;background-color:antiquewhite;opacity:.5;z-index:1;display:flex;justify-content:center;align-items:center" class="couche">
                <i style="opacity:1 !important;z-index:2;position:absolute;" class="fa fa-2x fa-search"></i>
            </div>
        </a>

        <a href="../../pic/AKHotel/pisc.jpg" class="col-lg-4 h-100 p-0 m-0  images" style="background-image:url(../../pic/AKHotel/pisc.jpg)">
            <div style="position:relative ;width:100%;height:100%;background-color:antiquewhite;opacity:.5;z-index:1;display:flex;justify-content:center;align-items:center" class="couche">
                <i style="opacity:1 !important;z-index:2;position:absolute;" class="fa fa-2x fa-search"></i>
            </div>
        </a>

       <a href="../../pic/AKHotel/eat6.jpg" class="col-lg-4 h-100 p-0 m-0  images" style="background-image:url(../../pic/AKHotel/eat6.jpg)">
            <div style="position:relative ;width:100%;height:100%;background-color:antiquewhite;opacity:.5;z-index:1;display:flex;justify-content:center;align-items:center" class="couche">
                <i style="opacity:1 !important;z-index:2;position:absolute;" class="fa fa-2x fa-search"></i>
            </div>
        </a>
    </div>


    <div class="col-lg-12 row d-flex p-0  m-0" style="height:50vh !important;">
       <a href="../../pic/AKHotel/vue.jpg" class="col-lg-4 h-100 p-0 m-0  images" style="background-image:url(../../pic/AKHotel/vue.jpg)">
            <div style="position:relative ;width:100%;height:100%;background-color:antiquewhite;opacity:.5;z-index:1;display:flex;justify-content:center;align-items:center" class="couche">
                <i style="opacity:1 !important;z-index:2;position:absolute;" class="fa fa-2x fa-search"></i>
            </div>
        </a>

       <a href="../../pic/AKHotel/bar3.jpg" class="col-lg-4 h-100 p-0 m-0  images" style="background-image:url(../../pic/AKHotel/bar3.jpg)">
            <div style="position:relative ;width:100%;height:100%;background-color:antiquewhite;opacity:.5;z-index:1;display:flex;justify-content:center;align-items:center" class="couche">
                <i style="opacity:1 !important;z-index:2;position:absolute;" class="fa fa-2x fa-search"></i>
            </div>
        </a>

       <a href="../../pic/AKHotel/salle2.jpg" class="col-lg-4 h-100 p-0 m-0  images" style="background-image:url(../../pic/AKHotel/salle2.jpg)">
            <div style="position:relative ;width:100%;height:100%;background-color:antiquewhite;opacity:.5;z-index:1;display:flex;justify-content:center;align-items:center" class="couche">
                <i style="opacity:1 !important;z-index:2;position:absolute;" class="fa fa-2x fa-search"></i>
            </div>
        </a>
    </div>


    <div class="col-lg-12 row d-flex p-0  m-0" style="height:50vh !important;">
       <a href="../../pic/AKHotel/reunion.jpg" class="col-lg-4 h-100 p-0 m-0  images" style="background-image:url(../../pic/AKHotel/reunion.jpg)">
            <div style="position:relative ;width:100%;height:100%;background-color:antiquewhite;opacity:.5;z-index:1;display:flex;justify-content:center;align-items:center" class="couche">
                <i style="opacity:1 !important;z-index:2;position:absolute;" class="fa fa-2x fa-search"></i>
            </div>
        </a>

       <a href="../../pic/AKHotel/eat3.jpg" class="col-lg-4 h-100 p-0 m-0  images" style="background-image:url(../../pic/AKHotel/eat3.jpg)">
            <div style="position:relative ;width:100%;height:100%;background-color:antiquewhite;opacity:.5;z-index:1;display:flex;justify-content:center;align-items:center" class="couche">
                <i style="opacity:1 !important;z-index:2;position:absolute;" class="fa fa-2x fa-search"></i>
            </div>
        </a>

       <a href="../../pic/AKHotel/bar.jpg" class="col-lg-4 h-100 p-0 m-0  images" style="background-image:url(../../pic/AKHotel/bar.jpg)">
            <div style="position:relative ;width:100%;height:100%;background-color:antiquewhite;opacity:.5;z-index:1;display:flex;justify-content:center;align-items:center" class="couche">
                <i style="opacity:1 !important;z-index:2;position:absolute;" class="fa fa-2x fa-search"></i>
            </div>
        </a>
    </div>


    <div class="col-lg-12 row d-flex p-0  m-0" style="height:50vh !important;">
       <a href="../../pic/AKHotel/1.jpg" class="col-lg-4 h-100 p-0 m-0  images" style="background-image:url(../../pic/AKHotel/1.jpg)">
            <div style="position:relative ;width:100%;height:100%;background-color:antiquewhite;opacity:.5;z-index:1;display:flex;justify-content:center;align-items:center" class="couche">
                <i style="opacity:1 !important;z-index:2;position:absolute;" class="fa fa-2x fa-search"></i>
            </div>
        </a>

       <a href="../../pic/AKHotel/bain.jpg" class="col-lg-4 h-100 p-0 m-0  images" style="background-image:url(../../pic/AKHotel/bain.jpg)">
            <div style="position:relative ;width:100%;height:100%;background-color:antiquewhite;opacity:.5;z-index:1;display:flex;justify-content:center;align-items:center" class="couche">
                <i style="opacity:1 !important;z-index:2;position:absolute;" class="fa fa-2x fa-search"></i>
            </div>
        </a>

       <a href="../../pic/AKHotel/welc.jpg" class="col-lg-4 h-100 p-0 m-0  images" style="background-image:url(../../pic/AKHotel/welc.jpg)">
            <div style="position:relative ;width:100%;height:100%;background-color:antiquewhite;opacity:.5;z-index:1;display:flex;justify-content:center;align-items:center" class="couche">
                <i style="opacity:1 !important;z-index:2;position:absolute;" class="fa fa-2x fa-search"></i>
            </div>
        </a>
    </div>


    <div class="col-lg-12 row d-flex p-0  m-0" style="height:50vh !important;">
       <a href="../../pic/AKHotel/room.jpg" class="col-lg-4 h-100 p-0 m-0  images" style="background-image:url(../../pic/AKHotel/room.jpg)">
            <div style="position:relative ;width:100%;height:100%;background-color:antiquewhite;opacity:.5;z-index:1;display:flex;justify-content:center;align-items:center" class="couche">
                <i style="opacity:1 !important;z-index:2;position:absolute;" class="fa fa-2x fa-search"></i>
            </div>
        </a>

       <a href="../../pic/AKHotel/eat5.jp" class="col-lg-4 h-100 p-0 m-0  images" style="background-image:url(../../pic/AKHotel/eat5.jpg)">
            <div style="position:relative ;width:100%;height:100%;background-color:antiquewhite;opacity:.5;z-index:1;display:flex;justify-content:center;align-items:center" class="couche">
                <i style="opacity:1 !important;z-index:2;position:absolute;" class="fa fa-2x fa-search"></i>
            </div>
        </a>

       <a href="../../pic/AKHotel/wc2.jpg" class="col-lg-4 h-100 p-0 m-0  images" style="background-image:url(../../pic/AKHotel/wc2.jpg)">
            <div style="position:relative ;width:100%;height:100%;background-color:antiquewhite;opacity:.5;z-index:1;display:flex;justify-content:center;align-items:center" class="couche">
                <i style="opacity:1 !important;z-index:2;position:absolute;" class="fa fa-2x fa-search"></i>
            </div>
        </a>
    </div>


    <div class="col-lg-12 row d-flex p-0  m-0" style="height:50vh !important;">
       <a href="../../pic/AKHotel/salle.jpg" class="col-lg-4 h-100 p-0 m-0  images" style="background-image:url(../../pic/AKHotel/salle.jpg)">
            <div style="position:relative ;width:100%;height:100%;background-color:antiquewhite;opacity:.5;z-index:1;display:flex;justify-content:center;align-items:center" class="couche">
                <i style="opacity:1 !important;z-index:2;position:absolute;" class="fa fa-2x fa-search"></i>
            </div>
        </a>

       <a href="../../pic/AKHotel/pis2.png" class="col-lg-4 h-100 p-0 m-0  images" style="background-image:url(../../pic/AKHotel/pis2.png)">
            <div style="position:relative ;width:100%;height:100%;background-color:antiquewhite;opacity:.5;z-index:1;display:flex;justify-content:center;align-items:center" class="couche">
                <i style="opacity:1 !important;z-index:2;position:absolute;" class="fa fa-2x fa-search"></i>
            </div>
        </a>

       <a href="../../pic/AKHotel/pis2.png" class="col-lg-4 h-100 p-0 m-0  images" style="background-image:url(../../pic/AKHotel/2.jpg)">
            <div style="position:relative ;width:100%;height:100%;background-color:antiquewhite;opacity:.5;z-index:1;display:flex;justify-content:center;align-items:center" class="couche">
                <i style="opacity:1 !important;z-index:2;position:absolute;" class="fa fa-2x fa-search"></i>
            </div>
        </a>
    </div>

    <div class="col-lg-12 row d-flex p-0  m-0" style="height:50vh !important;">
       <a href="../../pic/AKHotel/jaaa.jpg" class="col-lg-4 h-100 p-0 m-0  images" style="background-image:url(../../pic/AKHotel/jaaa.jpg)">
            <div style="position:relative ;width:100%;height:100%;background-color:antiquewhite;opacity:.5;z-index:1;display:flex;justify-content:center;align-items:center" class="couche">
                <i style="opacity:1 !important;z-index:2;position:absolute;" class="fa fa-2x fa-search"></i>
            </div>
        </a>

       <a href="../../pic/AKHotel/eat2.jpg" class="col-lg-4 h-100 p-0 m-0  images" style="background-image:url(../../pic/AKHotel/eat2.jpg)">
            <div style="position:relative ;width:100%;height:100%;background-color:antiquewhite;opacity:.5;z-index:1;display:flex;justify-content:center;align-items:center" class="couche">
                <i style="opacity:1 !important;z-index:2;position:absolute;" class="fa fa-2x fa-search"></i>
            </div>
        </a>

       <a href="../../pic/AKHotel/bar.jpg" class="col-lg-4 h-100 p-0 m-0  images" style="background-image:url(../../pic/AKHotel/bar.jpg)">
            <div style="position:relative ;width:100%;height:100%;background-color:antiquewhite;opacity:.5;z-index:1;display:flex;justify-content:center;align-items:center" class="couche">
                <i style="opacity:1 !important;z-index:2;position:absolute;" class="fa fa-2x fa-search"></i>
            </div>
        </a>
    </div>

    <div class="col-lg-12 row d-flex p-0  m-0" style="height:50vh !important;">
       <a href="../../pic/AKHotel/balcon.jpg" class="col-lg-4 h-100 p-0 m-0  images" style="background-image:url(../../pic/AKHotel/balcon.jpg)">
            <div style="position:relative ;width:100%;height:100%;background-color:antiquewhite;opacity:.5;z-index:1;display:flex;justify-content:center;align-items:center" class="couche">
                <i style="opacity:1 !important;z-index:2;position:absolute;" class="fa fa-2x fa-search"></i>
            </div>
        </a>

       <a href="../../pic/AKHotel/bain3.jpg" class="col-lg-4 h-100 p-0 m-0  images" style="background-image:url(../../pic/AKHotel/bain3.jpg)">
            <div style="position:relative ;width:100%;height:100%;background-color:antiquewhite;opacity:.5;z-index:1;display:flex;justify-content:center;align-items:center" class="couche">
                <i style="opacity:1 !important;z-index:2;position:absolute;" class="fa fa-2x fa-search"></i>
            </div>
        </a>

       <a href="../../pic/AKHotel/ny.jpg" class="col-lg-4 h-100 p-0 m-0  images" style="background-image:url(../../pic/AKHotel/ny.jpg)">
            <div style="position:relative ;width:100%;height:100%;background-color:antiquewhite;opacity:.5;z-index:1;display:flex;justify-content:center;align-items:center" class="couche">
                <i style="opacity:1 !important;z-index:2;position:absolute;" class="fa fa-2x fa-search"></i>
            </div>
        </a>
    </div>


    <div class="col-lg-12 row d-flex p-0  m-0" style="height:50vh !important;">
       <a href="../../pic/AKHotel/eat9.jpg" class="col-lg-4 h-100 p-0 m-0  images" style="background-image:url(../../pic/AKHotel/eat9.jpg)">
            <div style="position:relative ;width:100%;height:100%;background-color:antiquewhite;opacity:.5;z-index:1;display:flex;justify-content:center;align-items:center" class="couche">
                <i style="opacity:1 !important;z-index:2;position:absolute;" class="fa fa-2x fa-search"></i>
            </div>
        </a>

       <a href="../../pic/AKHotel/bar4.png" class="col-lg-4 h-100 p-0 m-0  images" style="background-image:url(../../pic/AKHotel/bar4.png)">
            <div style="position:relative ;width:100%;height:100%;background-color:antiquewhite;opacity:.5;z-index:1;display:flex;justify-content:center;align-items:center" class="couche">
                <i style="opacity:1 !important;z-index:2;position:absolute;" class="fa fa-2x fa-search"></i>
            </div>
        </a>

       <a href="../../pic/AKHotel/bain2.jpg" class="col-lg-4 h-100 p-0 m-0  images" style="background-image:url(../../pic/AKHotel/bain2.jpg)">
            <div style="position:relative ;width:100%;height:100%;background-color:antiquewhite;opacity:.5;z-index:1;display:flex;justify-content:center;align-items:center" class="couche">
                <i style="opacity:1 !important;z-index:2;position:absolute;" class="fa fa-2x fa-search"></i>
            </div>
        </a>
    </div>


    <div class="col-lg-12 row d-flex p-0  m-0" style="height:50vh !important;">
       <a href="../../pic/AKHotel/eat8.jpg" class="col-lg-4 h-100 p-0 m-0  images" style="background-image:url(../../pic/AKHotel/eat8.jpg)">
            <div style="position:relative ;width:100%;height:100%;background-color:antiquewhite;opacity:.5;z-index:1;display:flex;justify-content:center;align-items:center" class="couche">
                <i style="opacity:1 !important;z-index:2;position:absolute;" class="fa fa-2x fa-search"></i>
            </div>
        </a>

       <a href="../../pic/AKHotel/inter.jpg" class="col-lg-4 h-100 p-0 m-0  images" style="background-image:url(../../pic/AKHotel/inter.jpg)">
            <div style="position:relative ;width:100%;height:100%;background-color:antiquewhite;opacity:.5;z-index:1;display:flex;justify-content:center;align-items:center" class="couche">
                <i style="opacity:1 !important;z-index:2;position:absolute;" class="fa fa-2x fa-search"></i>
            </div>
        </a>

       <a href="../../pic/AKHotel/pis3.jpg" class="col-lg-4 h-100 p-0 m-0  images" style="background-image:url(../../pic/AKHotel/pis3.jpg)">
            <div style="position:relative ;width:100%;height:100%;background-color:antiquewhite;opacity:.5;z-index:1;display:flex;justify-content:center;align-items:center" class="couche">
                <i style="opacity:1 !important;z-index:2;position:absolute;" class="fa fa-2x fa-search"></i>
            </div>
        </a>
    </div>
</section>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script>
    $(document).ready(function () {
        $(".couche").hide();
        $(".images").hover(function () {
            var r = Math.random().toString(36).substring(7);
            $(this).find(".couche").attr('id', r);
            $("#" + r).fadeIn();
        }, function () {
            $(".couche").fadeOut();
        });
    });

</script>
<script src="~/Scripts/MyScripts/simple-lightbox.js"></script>
<script>
    (function () {
        var $gallery = new SimpleLightbox('.gallery div a', {});
    })();
</script>
