@{ 
    ViewBag.title = "Gallery";
}
<section >
    <div class="col-lg-12 " >

        <div class="col-lg-4 " > 
            <img src="~/pic/AK Hotel/bar.jpg" />

        </div>

        <div class="col-lg-4">
            <img src="~/pic/AK Hotel/1.jpg" />
        </div>

        <div class="col-lg-4">
            <img src="~/pic/AK Hotel/pisc.jpg" />

        </div>

    </div>
</section>
