@model PFM.Models.ApplicationUser

<li class="list-group-item list-group-item-action active d-flex justify-content-between align-items-center">
    <span class="text-dark"><i class="fas fa-user-cog pr-2 "></i>Genral</span>
    <span class="badge badge-danger badge-pill">!</span>
</li>
<li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
    <span class="text-dark"><i class="fas fa-user-shield pr-2"></i>Security</span>
    <span class="badge badge-danger badge-pill">!</span>
</li>
