@model PFM.Models.ApplicationUser
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Edit Username";
}
<link href="~/Content/StylePageInscription.css" rel="stylesheet" />
<div class="container-lg my-5">
    <div class="container col-lg-12 d-flex">

        <div class="col-lg-3 border m-0 p-0 " style="padding: 0px !important; background-color: #e8e7e3;">
            <ul class="list-group col-lg-12 p-0" style="height:500px !important;">
                @Html.Partial("_MenuRightSide", new PFM.Models.ApplicationUser())
            </ul>
        </div>
        <div class="col-lg-9 container pt-3">
            <h2>General Account Settings</h2>
            <hr />

            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "row form-horizontal col-lg-12 pt-5 m-0 form-horizontal login100-form validate-form flex-sb flex-w", role = "form", @id = "formRegister" }))
            {
                <div class="div-form col-lg-12 p-0 ">
                    @Html.LabelFor(m => m.UserName, new { @class = "required labelinput" })
                    <div class="wrap-input100 validate-input">
                        @Html.EditorFor(m => m.UserName, new { @class = "input100 w-100" })
                    </div>
                </div>
                <button class="btn" type="submit">Preview of change</button>
            }
            </div>
    </div>
</div>