@{ 
    ViewBag.Title = "Information";
}

<div class="py-5 ">
    <div class="alert alert-success d-flex flex-column justify-content-center align-items-center text-justify" style="height:200px" role="alert">
       <h6 class="text-dark">
                This web application was created by ISGI trainees
        </h6>
        <ul class="list-unstyled d-flex flex-column justify-content-center text-center text-dark">
            <li class="list-inline-item">Essahl anas</li>
            <li class="list-inline-item">Achamrar yassir</li>
            <li class="list-inline-item">Elmazouki maha</li>
        </ul>
    </div>
</div>